* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
footer {
    position: fixed;
    background: #42455a;
    padding: 10px;
    margin: 0 0 0 0;
    border: 1px solid;
    border-radius: 0px 0px 0px 0px;
    color: white;
    bottom: 0;
    width: 100%;
}
footer p{
    color: #919191;
}
h1 {
    color: #15f4ee;
    text-align: center;
    font-size: 400%;
    font-family: Papyrus, serif;
}
h2 {
    color: #15f4ee;
    font-size: 200%;
    font-family: Papyrus, serif;
}
html {
    background: #42455a;
}
a {
    text-decoration: none;
    color: #b2b1b1;
}
.container {
    width: 100%;
    height: 100%;
}
.dog {
    clear: both;
    margin: 15px 0;
    min-height: 300px;
    font-size: 25px;
}
.dog img {
    margin: 0 10px;
}
.dog:nth-of-type(odd) img {
    float: left;
}
.dog:nth-of-type(even) img {
    float: left;
}
.dogText {
    list-style-type: none;
    margin-left: 100px;
}
.dogId {
    font-size: 10px;
}
.dogName {
    font-weight: bold;
}
.makeBooking {
    width: 100px;
    height: 30px;
    float: end;
}
.menu ul {
    display: inline-flex;
    margin: 50px;
}
.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}
.logo img{
    width: 50px;
    margin-top: -7px;
    margin-right: 48px;
}
.active {
    color: #19dafa !important;
}
.sign {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.sign span {
    display: block;
    padding: 8px 22px;
}
.banner {
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: fixed;
    color: white;
}
.app-text {
    width: 50%;
    float: left;
}
.app-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}
.app-text p {
    font-size: 15px;
    width: 650px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;
}
.app-picture {
    width: 50%;
    float: right;
    position: relative;
}
.app-picture img {
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}
.reviews {
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    background-color: #eeeeee;
    width: 50%;
    height: fit-content;
    color: #222222;
}
.reviewTitle {
    font-weight: bold;
    color: #222222;
    font-size: 20px;
}
.reviewAuthor {
    color: #3388ff;
}
#cart {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    background-color: #eeeeee;
    margin-left: 11%;
    width: 75%;
    color: inherit;
}
#cartList {
    list-style-type: none;
}
#checkoutForm label{
    display: inline-block;
    width: 150px;
}

#errorMessage {
    color: red;
    font-size: 20px;
    list-style-type: none;
}
#products {
    padding: 10px;
    border: 1px solid;
    background-color: #eeeeee;
    color: inherit;
    width: 75%;
    height: fit-content;
    margin-left: 11%;
    border-radius: 10px 10px 10px 10px;
}
.adminBookings {
    padding: 10px;
    border: 1px solid;
    background-color: #eeeeee;
    color: inherit;
    width: 75%;
    height: fit-content;
    margin-left: 11%;
    border-radius: 10px 10px 10px 10px;
}
#map {
    width: 700px;
    height: 500px;
    left: 32%;
}
.contact {
    list-style-type: none;
    display: flex;
}
.contact li {
    text-align: center;
    width: 32%;
}
.contact h3 {
    color: #19dafa
}
.contact p {
    color: white;
}
.orderNumber {
    font-size: 200%;
    font-family: Papyrus, serif;
}
